html {
  background-color: hsl(210, 14%, 86%);
  font-family: Garamond, serif;
  font-weight: 400;
}
body {
  margin: 1 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 0.5;
  color: gray; 
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
h1 {
  margin: -1rem 0 0 0;
  padding-right: 8rem;
  font-size: 2rem;
  text-align:right;
  margin-top:1.5rem;
}
a {
  color: inherit;
  text-decoration: none;
}
h2{
    margin: -1rem -2rem 0 0; /* increase the right value (2rem, 3rem, etc.) */
    text-align:right;
    margin-top: -0.8rem;
    font-size:1.8rem;
}
h3 {
    margin: -1rem -14rem 0 0; /* increase the right value (2rem, 3rem, etc.) */
    font-size: 1.8rem;
    text-align: right;
    margin-top: -0.9rem;
    
}
h4 {
    margin: -1rem -22rem 0 0; /* increase the right value (2rem, 3rem, etc.) */
    font-size: 1.8rem;
    text-align: right;
    margin-top: -0.9rem;
}