---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@300;400;500;600&display=swap" rel="stylesheet">
		<title>antiardling</title>
	</head>
	<body>
		<h1><a href="https://antiardling.netlify.app">antiardling</a></h1>
		<h2><a href="/about/">about</a></h2>
		<h3><a href="/blogarchive/">blog archive</a></h3>
		<h4><a href="/reviews/">reviews</a></h4>
	</body>
</html>